
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-height: 6rem;

    /* Color CSS */
    --main-color: #e47a2e;
    --second-color: #edf5f7;
    --white-color: #FFF;
    --text-color: #121f38;

    
    /* Font & Typography */
    
    --font-title: 'Great Vibes', cursive;
    --font-body: 'Montserrat', sans-serif;

    --big-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
}

/* Reset Page CSS */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    font-size: var(--normal-font-size);
    background-color: var(--white-color);
    color: var(--text-color);
    position: relative;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

