
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-height: 6rem;

    /* Color CSS */
    --main-color: #e47a2e;
    --second-color: #edf5f7;
    --white-color: #FFF;
    --text-color: #121f38;

    
    /* Font & Typography */
    
    --font-title: 'Great Vibes', cursive;
    --font-body: 'Montserrat', sans-serif;

    --big-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
}

/* Reset Page CSS */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    font-size: var(--normal-font-size);
    background-color: var(--white-color);
    color: var(--text-color);
    position: relative;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 140vh;
}


/* Header Section Start */
header {
    width: 100%;
    /* height: var(--header-height); */
    background-color: var(--text-color);
    padding: 1rem 1.25rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-container {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--white-color);
    font-family: var(--font-title);
    font-size: var(--h1-font-size);
    letter-spacing: 0.2rem;
    z-index: 100;
}

.logo span {
    color: var(--main-color);
}

.nav-menu {
    display: flex;
    margin-left: 1rem;
}

.nav-menu li {
    margin-left: 1rem;
}

.nav-link {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    padding-bottom: 0.5rem;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.nav-link:hover, .active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.nav-toggle {
    display: none;
}

/* Header Section End */

/* Home Section Start */

.home-container{
    width: 100%;
    max-height: 100%;
}

.home-item {
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.homne-item img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    opacity: 0.5;
}

.home-item .home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white-color);
}

.home-item .home-text h1{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    font-family: var(--font-title);
    margin-bottom: 4rem;
}

.home-item .home-text p {
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    letter-spacing: 2px;
    margin-bottom: 3rem;
}

.home-item .home-text p::before {
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    text-align: center;
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
}

.home-item .home-text p::after {
    content: '';
    position: absolute;
    bottom: -15px;
    right: 0;
    text-align: center;
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
}

.home-item .home-text span {
    top: 1rem;
    margin-top: 3rem;
}

.home-item .home-text span i {
    font-size: var(--h1-font-size);
    color: var(--main-color);
    animation: up 2s linear infinite;
}

@keyframes up {
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Home Section End */

/* About Section Start */
.about {
    max-width: 1200px;
    margin: 0 auto;
}

.about-container {
    min-height: 100vh;
    padding-top: var(--header-height);
}

.title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    color: var(--main-color);
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding-top: 300;
    font-weight: 400;
}

.main-title {
    font-family: var(--font-title);
    font-size: var(--big-font-size);
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: capitalize;
}

.heart {
    position: relative;
    color: var(--text-color);
    font-size: var(--h1-font-size);
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.heart::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100px;
    bottom: 20px;
    right: 40px;
    background-color: var(--main-color);
}

.heart::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100px;
    bottom: 20px;
    left: 40px;
    background-color: var(--main-color);
}

.about-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    margin: 0;
}

.about-box .left {
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-box .left h1 {
    margin-top: 2rem;
    font-size: var(--h1-font-size);
    text-transform: capitalize;
}

.about-box .left p {
    padding: 25px 20px 0 20px;
    font-size: var(--h3-font-size);
    font-weight: 300;
    line-height: 30px;
    text-align: left;
}

.about-box .left span {
    display: flex;
    align-items: center;
    font-family: var(--font-title);
    margin-right: 1.5rem;
    font-size: var(--h1-font-size);
    text-transform: capitalize;
    font-weight: 400;
}

.about-box .left span i {
    font-size: 2rem;
    color: var(--main-color);
}

.social-media {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.social-media i {
    font-size: var(--h3-font-size);
    color: var(--main-color);
    padding: 3px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: all 0.4s liner;
}

.social-media i:hover {
    color: var(--white-color);
    background-color: var(--main-color);
}

.about-box .right img{
    width: 100%;
    height: 100%;
}

/* About Section End */

/* Story Section Start */
.story {
    max-width: 1200px;
    margin: 0 auto;
}

.story-container {
    min-height: 100vh;
    padding-top: var(--header-height);
}

.story-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.story-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
    background-color: var(--second-color);
}

.story-item .story-img {
    width: 100%;
}

.story-item .story-img img {
    width: 100%;
    height: 18rem;
}

.story-item h2 {
    padding: 30px 10px;
    text-transform: uppercase;
    font-size: var(--h2-font-size);
    font-weight: 600;
}

.story-item p {
    padding: 10px;
    letter-spacing: 1px;
    font-size: var(--normal-font-size);
    font-weight: 300;
}

/* Story Section End */


/* Media Queries Start */

@media (max-width: 860px) {
    :root{
        --big-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
    }

    .nav {
        width: 100%;
        min-height: 50vh;
        transform: translateY(-100%);
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        background-color: var(--text-color);
        padding-top: var(--header-height);
        z-index: 10;
        transition: all 0.4s ease-in-out;
    }

    .nav-menu {
        display: block;
        text-align: center;
    }

    .nav-menu li {
        width: 100%;
        padding: 1rem;
        margin-left: 0;
    }

    .nav-link {
        font-size: var(--h3-font-size);
    }

    .nav-toggle {
        display: block;
        z-index: 100;
    }

    .nav-toggle i {
        opacity: 0.5;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid var(--white-color);
        font-size: var(--big-font-size);
        color: var(--white-color);
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }

    .nav-toggle i:hover {
        border: 3px solid var(--white-color);
    }

    .show-menu {
        transform: translateY(0);
    }

    /* Home Section Start */
    .home {
        padding-top: var(--header-height);
    }
    /* Home Section End */

    /* About Section Start */
    .about-box {
        grid-template-columns: unset;
    }
    /* About Section End */

}

/* Media Queries End */